@import '../../setting';
$list-bg-color:#ebecf0;


$column-header-height:36px;
$column-footer-height:36px;
$column-border-radius:8px;
$card-border-radius:5px;

.column{
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    margin-left: $gap;

      > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header{
      padding-left: 15px;
      height: $column-header-height;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius:$column-border-radius;
      border-top-right-radius: $column-border-radius;
      cursor: pointer;
    }

    footer{
      padding-left: 10px;
      height: $column-footer-height;
      line-height: $column-footer-height;
      font-size: 14px;
      font-weight: bold;
      border-bottom-left-radius: $column-border-radius;
      border-bottom-right-radius: $column-border-radius;
      color: #888;
      .footer-actions{
        margin-left: 10px;
        cursor: pointer;
        
        &:hover{
          color:#333;
          
        }
      }
      .icon{
        font-size: 14px;
        margin-right: 5px;
        color: #888;
      }
    }

    .card-list{
      list-style-type: none;
      margin: 0;
      max-height: 480px;
      overflow-y: auto;
     
      .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg)
      }
      
      .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg)
      }
      .card-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
      }
    }

    
  }