@import '../../setting';
$list-bg-color:#ebecf0;


$column-header-height:36px;
$column-footer-height:36px;
$column-border-radius:8px;
$card-border-radius:5px;
.board-content{
    display: flex;
    overflow-x: auto;

    
  }