@import '../../setting';
$list-bg-color:#ebecf0;


$column-header-height:36px;
$column-footer-height:36px;
$column-border-radius:8px;
$card-border-radius:5px;
.board-content{
    display: flex;
    overflow-x: auto;

    .column-drop-preview{
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }

    .add-new-column{
      margin-left: 10px;
      background-color: #949fca;
      width: 250px;
      
      padding: 2px 0 4px 15px;
      line-height: 32px;
      color: #fff;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      .icon{
        font-size: 14px;
        margin-right: 10px;
      }

      &:hover{
        background-color: rgb(152, 185, 218);
      }
    }

    .enter-new-column{
      width: 250px;
      max-width: 250px;
      background-color: rgb(237, 237, 238);
      line-height: 32px;
      padding: 2px 0 2px 2px;
      margin-left: 10px;
      border-radius: 5px;


      input.input-enter-new-column{
        margin: 5px 0;
      }

      .icon{
        font-size: 22px;
        padding:0 20px;
        cursor: pointer;
        color: #ee5253;
        &:hover{
          color: darken(#ee5253,10);
        }
      }
    
    }

  }